body {
    background-color: white;
}

#index {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}


/*LISTAR CUENTO*/
#imghome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    width:90%;
    height:200px;;
}

#idh3 {
    text-align: center;
    color: skyblue;
    max-width: 90%;
}



#idh4 {
    text-align: center;
    color: white;
    height: 300px;
}

#idh4 p {
    color: black;
    font-size: 16px;
    max-width: 90%;
}


/*#container2 {
    color: #f36523;
}*/




/*BOTONES CENTRALES INDEX*/

.btn-lg,
.btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: white;
    background: #fca213;
}

/*Inicio Pagina Crear Cuento*/

.crearCuento {
    background-color: #ffe001;
}

/*slide crear cuento*/

#jquery-script-menu {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 5px solid #316594;
    background: #fff;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    z-index: 999999;
    padding: 10px 0;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}


.jquery-script-center {
    width: 960px;
    margin: 0 auto;
}
.jquery-script-center ul {
    width: 212px;
    float:left;
    line-height:45px;
    margin:0;
    padding:0;
    list-style:none;
}
.jquery-script-center a {
	text-decoration:none;
}
.jquery-script-ads {
    width: 728px;
    height:90px;
    float:right;
}
.jquery-script-clear {
    clear:both;
    height:0;
}

.item{ 
    width: 100%;
    height: 100%;
    background-color: white;
    
    text-align: center;
}

.item img{
    width: 100%;
    
}
.carousel-inner{
    width: 100%;
    height: 750px;
   
}

.crear{
    width: 100%;
    height: 700px;
}
    
/*leer cuento*/
.descripcion, .credito{
    text-align: center;
    font-size: 24px;
}

#reproducir, #reproducir img, #reproducirPre1, #reproducirPre1 img, #reproducirPre2, #reproducirPre2 img{
    background-color: transparent;
    text-align: center;
    width: 150px;
    height: 130px;
    border: 0;
    opacity: 4px;
    
}


#reproducir:hover{
    width: 180px;
    height: 150px;
}
#btnLista{
    
    background-color: transparent;
    border: 0;
	cursor:pointer;
	font-weight:bold;
	padding:0.2em 0;
	outline:none;
}
.escenas{
   
    text-align: center;
}

.escenas audio{
    z-index: 0;
}

.escenas img{
    width: 98%;
    height: 100%;
    padding: 0;
    float: left;
}

.myCarousel img{ 
    width: 100px;
    height: 100px;
}

.nav-dots {
    margin-top: 20px;
	width: 100%;
	
	height: 120px;
	
	text-align: center;
}

.hojas{
    width: 100px;
    height: 100px;
    background-color: white;
}

.nav-dot {
	/*estilo para label*/
	margin: 4px 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: orange;
}

.hojas:hover {
	cursor: pointer;
	opacity: 0;
}
.botonesHojas{
    display: inline-block
}
.nHoja,.bHoja{margin-top: 20px;}
.bActividad{margin-top: 20px;}
.nHoja img,.bHoja img{width: 50px;height: 50px;}

.bActividad img{width: 50px;height: 50px;}
/*fin slide crear cuento*/

/*Crear Cuento Funciones*/


.nombreCuento{ text-align: center}

.nombreCuento input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
}


/*Fin slide Funciones*/

/*Subir imagenes*/

.messages{
        float: left;
        font-family: sans-serif;
        display: none;
}
.info{
    padding: 10px;
    border-radius: 10px;
    background: orange;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.before{
    padding: 10px;
    border-radius: 10px;
    background: blue;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.success{
    padding: 10px;
    border-radius: 10px;
    background: green;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.error{
    padding: 10px;
    border-radius: 10px;
    background: red;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.panel-body{
    height: 30%;
}


/*PREGUNTAS*/

.pintarRspCorrecta{
    background-color: coral;
}
.limpiarRspCorrecta{
    background-color:none;
}
.fondoEscenas .guntas{
    background: aquamarine;
    height: 100%;
}

.fondoEscenas img{
    padding: 5px;
    width: 33%;
    height: 100%;
}
.fondoPreguntas img{
    padding: 15px;
    width: 40%;
    height: 100%;
}

span{font-size: 14px;
    margin: 0px auto;
    background-color: greenyellow;
}
/**/

audio{    
    width: 90%;
}
audio source{
    background: red;
}

/*Fin Pagina Crear Cuento*/
#mainNav{
    background-color:  #0081eb;   
}
/* pauul */
.cuentoTitulo{
    color: #fed136;
    text-align: center;
}

/*ARRASTRAR IMAGENES*/
.ocultar{
    display: none;
}
.mostrar{
    display: block;
}

.portfolio-item{
    background-color: bisque;
    margin: 17px;
    padding: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 30%;
}

#estilofooter {
    background-color: #fcb913;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#estilofooter2 {
    background-color: #0081eb;
    position: absolute;
    bottom: 0;
    width: 100%;
   
    color: white;
    
}
#estilofooter2 p, #estilofooter p{
font-size: 20px;
   
}
#slabel{
 color: darkslateblue;
}

/*ACTIVIDADES*/
#actividades{
    background-color: aqua;
}
.fondoP1{
    align-content: center;
    text-align: center;
    background-color: #41dfff;
    height: 150px;
    width: 150px;
}
.fondoP2{
    align-content: center;
    text-align: center;
    background-color: #41dfff;
    height: 150px;
    width: 150px;
}
.fondoP1 img{
    padding: 1px;
    width: 100%;
    height: 100%;
}
.fondoP2 img{
    padding: 1px;
    width: 100%;
    height: 100%;
}
#btnGuardarP2, #btnGuardarP1{
    background-color: greenyellow;
    font-size: 25px;
    width: 180px;
    border-radius: 3px;
}

/*PAGINA NOSOTROS*/

.nosotros{
    text-align: center;
   
}
.nosotros img{
    width: 100%;
}



/*ESTILOS*/

.cuentoTituloLista {
  padding-top: 130px;
  cursor: default;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  height: 100px;
  margin: auto;
  display: block;
  
  -webkit-animation: bounce .3s ease infinite alternate;
  
  font-family: 'Erica One', cursive;
  font-size: 80px;
  color: greenyellow;
  text-align: center;
  line-height: 100px;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .6);
}
/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -30px;
    
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0 #CCC,
                 0 30px 30px rgba(0, 0, 0, .3);
  }
}

@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
.cuentoTitulo{
    text-align:center;
  font-size:3em;
}
.cuentoTitulo a{
    text-decoration:none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
    color:#FF9900;
  font-family:Pacifico;
    animation:jitter 200ms linear infinite;color:#f06d06;display:inline-block}
@keyframes jitter{ 50%{transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);}
}

.cuentoTitulo a:hover{
-webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
    color:#ffffff;
}

@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF9900,
               0 0 70px  #FF9900,
               0 0 80px  #FF9900,
               0 0 100px #FF9900,
               0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF9900,
               0 0 35px #FF9900,
               0 0 40px #FF9900,
               0 0 50px #FF9900,
               0 0 75px #FF9900;
  }
}

.elegantshadow {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 40px;
  padding: 50px 30px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #131313;
    background-color: #e7e5e4;
    letter-spacing: .15em;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
      -5px 10px 1px #7f7d7d, 
      -6px 12px 1px #828181, 
      -7px 14px 1px #868585, 
      -8px 16px 1px #8b8a89, 
      -9px 18px 1px #8f8e8d, 
      -10px 20px 1px #949392, 
      -11px 22px 1px #999897, 
      -12px 24px 1px #9e9c9c, 
      -13px 26px 1px #a3a1a1, 
      -14px 28px 1px #a8a6a6, 
      -15px 30px 1px #adabab, 
      -16px 32px 1px #b2b1b0, 
      -17px 34px 1px #b7b6b5, 
      -18px 36px 1px #bcbbba, 
      -19px 38px 1px #c1bfbf, 
      -20px 40px 1px #c6c4c4, 
      -21px 42px 1px #cbc9c8, 
      -22px 44px 1px #cfcdcd, 
      -23px 46px 1px #d4d2d1, 
      -24px 48px 1px #d8d6d5, 
      -25px 50px 1px #dbdad9, 
      -26px 52px 1px #dfdddc, 
      -27px 54px 1px #e2e0df, 
      -28px 56px 1px #e4e3e2;
  }

  .jiterry{animation:jitter 200ms linear infinite;color:#f06d06;display:inline-block}
@keyframes jitter{ 50%{transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);} }